body {
  background: #ECF0F1;
  color: #2C3E50;
  .bikeText {
    width: 90%;
    margin: auto 100px;
  }
  button {
    border: none;
    color: white;
    background-color: gray;
    border-radius: 50px;
    width: 150px;
    height: 50px;
  }
}

.showResult {
  margin: 50px 100px;
  padding: 10px;
  font-size: 2em;
  width: 75%;
}

.jumbotron{
  background-color:  #c0cbff;
}
